<%= @articles.title %>
<%= @articles.content %>
<form method="post" action="/articles/<%= @articles.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>